<!-- app/views/catalog/show.html.erb -->
<h1><%= @asset.title %></h1>

<div class="asset-details">
  <p><%= @asset.description %></p>
  <p>Created by: <%= @asset.creator.user.name %></p>
  <p>Price: $<%= @asset.price %></p>
  
  <% if current_user && current_user.role == 'customer' %>
    <%= form_with url: purchases_path, method: :post, local: true do |form| %>
      <%= form.hidden_field :asset_id, value: @asset.id %>
      <%= form.submit "Purchase Now", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
